
@model IEnumerable<Transactions>
@{
    ViewData["Title"] = "Index";
}

<table class= "table table-bordered table-striped" style = "width:100%">
    <thead>
        <tr>
            <th>
                Transaction Amount
            </th>
            <th>
                Transaction Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width:"50%">
                    @obj.TransactionAmount
                </td>
                <td width:"30%">
                    @obj.TransactionDate
                </td>
                <td width:"30%">
                    <div class="w-75 btn-group" role="group">

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>